* {
  box-sizing: border-box;
}

div {
  border: 1px solid;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.products {
  margin: 2rem;
  height: 5rem;
  width: 5rem;
}

.products {
  text-align: center;
}

.products h3 {
  font-size: 1rem;
}

button {
  font-size: 1rem;
  display: inline-block;
  width: 3rem;
}
